<% include ./partials/header %>
<% include ./partials/navbar %>


<div class="ui stackable six column centered grid">
    <div class=" ten wide tablet ten wide computer column">
        

            <div class="ui fluid category search">
                <div class="ui icon  input">
                    <input class="prompt center" id="search_items" placeholder="Pretraga po" type="text">
                    <i class="search icon"></i>
                </div>
                <select class="ui dropdown" id="scrby">
                    <option value="name">Nazivu</option>
                    <option value="code">Sifri</option>
                </select>
                <div class="results">
                    <p id="dummyresult"></p>
                </div>
            </div>

        <table class="ui six small stackable  compact inverted grey striped  table">
            <thead>
                <tr class="center aligned">
                    <th colspan="7">MAGACIN: </th>
                </tr>
                <tr class="center aligned">
                    <th>Redni broj</th>
                    <th>Šifra objekta</th>
                    <th>Naziv objekta</th>
                    <th>Dostupno</th>
                    <th>Jedinica mere</th>
                        <th>Izmene</th>
                    <% if(currentUser.canDelete){ %>
                        <th>Brisanje</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% let counter = 1 %>
            <% units.forEach(el=>{ %>
                <tr class="center aligned">
                    <td><%= counter++ %></td>
                    <td><%= el.code %></td>
                    <td><%= el.name %></td>
                    <td><%= el.ammount %> </td>
                    <td><%= el.unit %></td>
                        <td>
                            <div class="ui center aligned ">
                                <form action="/stanje/<%= el._id%>" method="GET">
                                    <button class="ui icon basic  button" type="submit" <%- currentUser.admin %>><i class="edit  icon"></i></button> 
                                </form>
                            </div>
                        </td>
                        <% if(currentUser.canDelete){ %>
                        <td>                
                            <div class="ui center aligned ">
                                <form>
                                <!-- <form action="/stanje/<%= el._id %>?_method=DELETE" method="POST" >  -->
                                    <button id="<%= el._id %>" class="ui icon delete button" type="submit" <%- currentUser.admin %>><i class="delete icon"></i></button>
                                </form>
                            </div>
                        </td>
                        <% } %>
                </tr>
            <% }) %>  
            </tbody>
        </table>
    </div>
</div>  


<div class="ui two column centered grid">
    <div class="four column centered row">
        <div class="column" style="text-align:center;">
            <!-- <form action="/stanje/noviunos" method="GET">
                <button class="ui green button" type="submit" <%- currentUser.admin %>><i class="plus icon"></i></i>Novi unos</button>
            </form> -->
        </div>
        <div class="column" style="text-align:center;">
            <!-- <form action="/stanje/noviunos" method="GET">
                <button class="ui orange button" type="submit"><i class="print icon"></i>Štampaj</button>
            </form>       -->
        </div>
    </div>
</div>

<!-- DELETE MODAL -->
<div class="ui mini modal">
    <div class="header">Izbrisati unos?</div>
    <div class="image content">
        <div class="actions">
            <div class="ui red cancel inverted button delete_unit">
                <i class="trash icon"></i>
                          Izbrisi
                </div>
                <div class="ui green ok inverted button cancel_delete">
                          Odustani
                </div>
        </div>
    </div>
</div>

<!-- WELCOME MODAL -->
<div class="ui basic modal" id="welcome_modal">
    <div class="ui icon header">
        <i class="info circle icon"></i>
            Dobrodosao 
            <span id="username"></span>
    </div>
    <hr>
    <div class="content">
        <p style="text-justify:distribute "">Warehouse je jednostavna "MEN" (MONGODB/EXPRESS/NODEJS) aplikacija za vodjenje magacina, izradjena iskljucivo radi sticanja licnih iskustava i licne promocije. U fazi je konstante dorade te ukoliko primetite bilo kakav "bug", molim da mi prijavite. Hvala!</p>
        <p style="text-align:center">Ivan Radulov</p>
    </div>
    <hr>
    <div class="actions">
        <div class="ui red basic cancel inverted button" id="unshowWelcome">
            <i class="remove icon"></i>
            Zatvori
        </div>
    </div>
</div>

<script src="/welcome.js"></script>

<% include ./partials/footer %>
